[Unit]
AssertPathExists=/usr/bin/buzzoperator

[Service]
# Customise later
User=ghashy
WorkingDirectory=~
ExecStart=/usr/bin/buzzoperator
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
